@{
    ViewBag.Title = "ConsultantsGrid";
}

<h2>Consultants Grid</h2>
<table id="consultants">
    <thead>
        <th>Consultant Id</th>
        <th>Projects involved</th>
    </thead>
    
</table>