<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="MultiColumnCSS">
</head>
<body>
<article id="c_lo">
    <div class="headers">
        <h1>My Blog Article</h1>
    </div>
    <p>
        I began work on the first edition of this book in 2010. It’s been only four
        years, but how the landscape has changed in that time! In 2010, the iPad
        had been out for only a few months, Android had yet to explode, and looking
        at visitor statistics for my own website, visits from all mobile devices
        accounted for 11.6 percent of sessions—compare that to the 54.8 percent
        count at the time of this writing.versions of Safari and three of Internet Explorer. Firefox has become an
        auto-updating “evergreen” browser, Chrome has switched from the WebKit
        engine to its own Blink, and Opera has discontinued work on its own
        Presto engine to also use Blink.
        In addition, the rise of preprocessors such as Sass and LESS has brought
        the power of programming languages into our stylesheets and dramatically
        changed the way we write CSS. Most professional developers now use a preprocessor
        as a core component of the website authoring tool set.
        Many CSS specifications have changed since the first edition, too. Some
        have been discontinued, and many more have been created. And the CSS3
        of 2010 had many more cross-browser implementation differences, but the
        differences are much fewer today as browser vendors have placed more
        importance on adhering to standards.
        In other words, this second edition is not simply a light edit of the first;
        every chapter has been fully revised to reflect changes to the specification
        and to remove outdated implementation information and experimental
        properties not in the specification. Certain chapters (those on media queries,
        Flexbox, grids, and the future of CSS in particular) are almost entirely
        new, and I’ve added new chapters on values and sizing as well as blend modes,
        filter effects, and masking.
        Here’s to the next four.
    </p>
</article>
</body>
</html>